<div ng-show="campaign">

  <!--Show Location-->
  <div ng-show="divLocation" class="radius-50"
       style="position: fixed; width: 40%; background-color: #323232; z-index: 99; margin-left: 30%; margin-top: 5%; padding-top: 10px; padding-bottom: 10px;">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" style="background: none; color: #ffffff"
               placeholder="Type in to search Location..." aria-describedby="basic-addon1" ng-model="searchLocation"
               ng-change="changeSearch()">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <div class="col-xs-12 radius-50" style="height: 120px; overflow-y: auto;">
      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
              type="text" ng-repeat="loc in locaOfCity track by $index" ng-click="selectItem(loc)">{{loc}}
      </button>
    </div>
    <div class="col-xs-12 radius-50" style="height: 120px; overflow-y: auto; background-color: #4C4C4C">
      <p style="color: #ffffff">Selected</p>
      <button style="border: none; background: #2985D0; color: #ffffff; font-weight: normal" class="input_campaign"
              type="text" ng-repeat="uloc in ulocaOfCity track by $index" ng-click="unselectItem(uloc)">{{uloc}}
      </button>
    </div>
    <button class="btn radius-50 btn-sm btn-default" style="float: right; margin-right: 20px" ng-click="okLocation()">
      OK
    </button>
  </div>
  <!--End Show Location-->

  <div class="col-sm-8 col-sm-push-2 padding0 mainCampaign"
       style="position:absolute; background-color:rgba(192,192,192,0.5); margin: auto; height: 100%">
    <div class="col-xs-4 text-center" style="background-color:rgba(49,176,213,0.7);
    margin-left: 20px; border-radius: 0px 0px 10px 10px; height: 25px; line-height: 25px; margin-bottom: 5px; color: #ffffff">
      Create Ads
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4 hidden-xs colCampaign"
         style="background-color: #585858; text-align: left; color: #ffffff; min-height: 450px">
      <div class="clearfix" style="margin: 15px 15px"></div>
      <div class="checkbox">
        <i class="fa fa-check-circle" style="font-size: 20px" id="campaign-icon"></i>
        <label>
          CAMPAIGN
        </label><br/>
        <label class="colorA5">
          Objective
        </label>

        <div class="clearfix" style="margin: 15px 15px"></div>
        <i class="fa fa-check-circle" style="font-size: 20px" id="adset-icon"></i>
        <label class="control-label">
          AD SET
        </label><br/>
        <label class="colorA5">Audience</label><br/>
        <label class="colorA5">Location</label><br/>
        <label class="colorA5">KPI & Schedule</label>

        <div class="clearfix" style="margin: 15px 15px"></div>
        <i class="fa fa-check-circle" style="font-size: 20px" id="ad-icon"></i>
        <label>
          AD
        </label><br/>
        <label class="colorA5">Creative</label>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 colCampaign" style="background-color: #ffffff; min-height: 450px; margin: 0px 0px;">
      <!--Campaign-->
      <div class="" id="step1" ng-show="showstep1">
        <ul class="nav h410" style="overflow: auto">
          <li class="">
            <input type="radio" name="checkradio" id="op1" style="display: none" ng-model="optionStep1"
                   value="option1" checked="checked">
            <label for="op1" class="step1-ot"><i class="fa fa-globe fa-lg"></i> &nbsp; &nbsp; &nbsp;Send people to
              website</label>
          </li>
          <li class="">
            <input type="radio" name="checkradio" id="op2" style="display: none" ng-model="optionStep1"
                   value="option2">
            <label for="op2" class="step1-ot"><i class="fa fa-play-circle-o fa-lg"></i> &nbsp; &nbsp; &nbsp;Get video
              views</label>
          </li>
          <li class="">
            <input type="radio" name="checkradio" id="op3" style="display: none" ng-model="optionStep1"
                   value="option3">
            <label for="op3" class="step1-ot"><i class="fa fa-heartbeat fa-lg"></i> &nbsp; &nbsp; &nbsp;Get
              engagement</label>
          </li>
          <li class="">
            <input type="radio" name="checkradio" id="op4" style="display: none" ng-model="optionStep1"
                   value="option4">
            <label for="op4" class="step1-ot"><i class="fa fa-group fa-lg"></i> &nbsp; &nbsp; &nbsp;Raise attendance at
              your event</label>
          </li>
          <li class="">
            <input type="radio" name="checkradio" id="op5" style="display: none" ng-model="optionStep1"
                   value="option5">
            <label for="op5" class="step1-ot"><i class="fa fa-retweet fa-lg"></i> &nbsp; &nbsp; &nbsp;Get people to
              claim
              your offer</label>
          </li>
          <li class="">
            <input type="radio" name="checkradio" id="op6" style="display: none" ng-model="optionStep1"
                   value="option6">
            <label for="op6" class="step1-ot"><i class="fa fa-file-text-o fa-lg"></i> &nbsp; &nbsp; &nbsp;Collect leads
              for your business</label>
          </li>
        </ul>
        <div class="col-xs-12" style="height: 40px; line-height: 40px;">
        <span style="float: left">
          1/2
        </span>
        <span style="float: right">
          <button class="btn radius-50 btn-default btn-sm" style="width: 150px; margin-right: 0px" ng-click="next1_1()"
                  id="next">Next
          </button>
        </span>
        </div>
      </div>

      <div class="h410" ng-show="showstep1_1">
        option1
      </div>
      <div class="h410" ng-show="showstep1_2">
        <label for="op1" class="step1-ot" style="background-color: #2A86D1; color: #ffffff"><i
          class="fa fa-globe fa-lg"></i> &nbsp; &nbsp; &nbsp;Send people to website</label>

        <div class="col-xs-10 col-xs-push-1"
             style="background-color: #D2D2D2; padding: 0; margin: 0; border-radius: 5px">
          <select class="form-control input-sm">
            <option value="">Choose Brand or Enter New Brand</option>
          </select>

          <div class="col-xs-10 col-xs-push-1">
            <input type="radio" name="brand" value="Yomost"/><label for=""> &nbsp; Yomost</label>
            <br/>
            <input type="radio" name="brand" value="X-men"/><label for=""> &nbsp; X-men</label>
            <br/>
            <input type="radio" name="brand" value="X-men Boss"/><label for=""> &nbsp; X-men Boss</label>
          </div>
        </div>
      </div>
      <div class="h410" ng-show="showstep1_3">
        option3
      </div>
      <div class="h410" ng-show="showstep1_4">
        option4
      </div>
      <div class="h410" ng-show="showstep1_5">
        option5
      </div>
      <div class="h410" ng-show="showstep1_6">
        option6
      </div>

      <div class="col-xs-12" style="height: 40px; line-height: 40px;" ng-show="next12">
        <span style="float: left">
          2/2
        </span>
        <span style="float: right">
          <button class="btn radius-50 btn-gray btn-sm " style="" ng-click="back1()">
            Back
          </button>
          <button class="btn radius-50 btn-default btn-sm" style="" ng-click="next1_2()">
            Set Audience & Budget
          </button>
        </span>
      </div>

      <!--AD Set-->
      <div>
        <div class="h410" ng-show="step2" style="overflow: auto">
          <div class="titlestep3" style="">Audiance</div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Age:</span></div>
            <div class="col-xs-9 padding0">
              <select class="select_create_ads" ng-options="age as age.label for age in ages track by age.id"
                      ng-model="agesfrom">
                <!--<option></option>-->
              </select>
              -
              <select class="select_create_ads" ng-options="age as age.label for age in ages track by age.id"
                      ng-model="agesto">
                <option></option>
              </select>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Gender:</span></div>
            <div class="col-xs-9 padding0">
              <ul class="nav">
                <li style="float: left">
                  <input type="radio" name="gender" ng-model="gender" value="All" id="all_gender" checked
                         style="display: none"/>
                  <label class="label_radio_gender" style="" for="all_gender">All</label>
                </li>
                <li style="float: left">
                  <input type="radio" name="gender" ng-model="gender" value="Men" id="men" style="display: none"/>
                  <label class="label_radio_gender" style="" for="men">Men</label></li>
                <li style="float: left">
                  <input type="radio" name="gender" ng-model="gender" value="Women" id="women" style="display: none"/>
                  <label class="label_radio_gender" style="" for="women">Women</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Device:</span></div>
            <div class="col-xs-9 padding0">
              <ul class="nav">
                <li style="float: left">
                  <input type="radio" name="device" id="all_device" checked style="display: none"/>
                  <label class="label_radio_gender" style="" for="all_device">All</label>
                </li>
                <li style="float: left">
                  <input type="radio" name="device" id="ios" style="display: none"/>
                  <label class="label_radio_gender" style="" for="ios">iOS</label>
                </li>
                <li style="float: left">
                  <input type="radio" name="device" id="android" style="display: none"/>
                  <label class="label_radio_gender" style="" for="android">Android</label>
                </li>
                <li style="float: left">
                  <input type="radio" name="device" id="other" style="display: none"/>
                  <label class="label_radio_gender" style="" for="other">Other</label>
                </li>
              </ul>
            </div>
          </div>

          <div class="clear"></div>

          <div class="titlestep3">Location</div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- City:</span></div>
            <div class="col-xs-6 padding0">
              <select class="form-control cusInput" ng-model="modelCity" ng-change="cityChange()">
                <option ng-repeat="city in citys.slice().reverse()" value="{{city.id}}">{{city.city}}
                </option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Category:</span></div>
            <div class="col-xs-6 padding0">
              <select class="form-control cusInput" ng-model="modelCategory" ng-change="categoryChange()">
                <option ng-repeat="category in categories.slice().reverse()" value="{{category.id}}">{{category.category}}
                </option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Location:</span></div>
            <div class="col-xs-6 padding0">
              <button class="form-control cusInput" ng-click="modalClick()">Click to select</button>
              <!--<div ng-dropdown-multiselect="" options="example9data" selected-model="example9model"-->
              <!--extra-settings="example9settings" events="myEvents"></div>-->
            </div>
          </div>
          <div class="clearfix" style="margin-bottom: 5px"></div>

          <div class="titlestep3">KPI & Schedule</div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- KPI:</span></div>
            <div class="col-xs-5 padding0">
              <input class="form-control cusInput" type="number" ng-model="valueKPI">
            </div>
            <div class="col-xs-4">
              <select id="select_category_from" class="form-control cusInput" ng-model="optionKPI">
                <option value="Clicks">Clicks</option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="margin_create_ads">
            <div class="col-sm-3 padding0"><span>- Schedule:</span></div>
            <div class="col-sm-9 padding0">
              <span class="col-xs-2 padding0"> Start </span>

              <div class="col-xs-6 padding0">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control cusInput" ng-model="dateStart" ng-value="startDay"/>
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <select style="" class="form-control cusInput"
                        ng-options="time as time.label for time in times track by time.id" ng-model="timeFrom">
                  <option value="">Time</option>
                </select>
              </div>
              <div class="clear"></div>
              <span class="col-xs-2 padding0"> End </span>

              <div class="col-xs-6 padding0">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control cusInput" ng-model="dateStart"/>
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <select style="" class="form-control cusInput"
                        ng-options="time as time.label for time in times track by time.id" ng-model="timeTo">
                  <option value="">Time</option>
                </select>
              </div>
            </div>
          </div>

          <div class="clearfix" style="margin: 10px 0px;"></div>

          <div class="titlestep3">Ad Set</div>
          <div class="margin_create_ads">
            <div class="col-xs-3 padding0"><span>- Name:</span></div>
            <div class="col-xs-6 padding0">
              <select id="select_city_from" class="form-control cusInput">
                <option>Brand_Apr_Name_01</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12" style="height: 40px; line-height: 40px;" ng-show="next21">
        <span style="float: right">
          <button class="btn radius-50 btn-gray btn-sm " style="" ng-click="back2()">
            Back
          </button>
          <button class="btn radius-50 btn-default btn-sm" style="" ng-click="next2()">
            Choose Ad Creative
          </button>
        </span>
        </div>


        <!--AD-->
        <div class="h410" ng-show="step3">
          <div id="format">
            <div class="row titlestep3">
              Format
            </div>
            <div class="col-xs-6">
              <div class="radioFormat">
                <input type="radio" id="stand" name="format" checked value="Standard"/>
                <label for="stand"><span></span>Standard Banner</label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="radioFormat">
                <input type="radio" id="rich" name="format" value="Rich"/>
                <label for="rich"><span></span>Rich Banner</label>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div id="creative">
            <div class="row titlestep3">
              Creative
            </div>
            <div class="col-xs-12 margin5">
              <div class="col-xs-4">- Mobile</div>
              <div class="col-xs-8"><input type="text"></div>
            </div>
            <div class="col-xs-12 margin5">
              <div class="col-xs-4">- Desktop</div>
              <div class="col-xs-8"><input type="text"></div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div id="tracking">
            <div class="row titlestep3">
              Tracking Code
            </div>
            <div class="col-xs-12 margin5">
              <div class="col-xs-4">- Mobile</div>
              <div class="col-xs-8"><input type="text" class="form-control cusInput"></div>
            </div>
            <div class="col-xs-12 margin5">
              <div class="col-xs-4">- Desktop</div>
              <div class="col-xs-8"><input type="text" class="form-control cusInput"></div>
            </div>
            <div class="col-xs-12 margin5">
              <div class="col-xs-4">- Landing page</div>
              <div class="col-xs-8"><input type="text" class="form-control cusInput"></div>
            </div>
          </div>
        </div>
        <div class="h410" ng-show="preview" style="overflow: auto">
          <div class="titlestep3">Preview Booking</div>
          <div class="col-xs-12" style="margin: 5px 0px; padding-left: 0px">
            <div class="col-xs-12"><label>Campaign:</label></div>
            <span class="col-xs-6">- Campaign Name: </span>
            <span class="col-xs-6 text-italic">X-Men Apr</span>

            <div class="clearfix"></div>
            <span class="col-xs-6">- Campaign Objective: </span>
            <span class="col-xs-6 text-italic">Clicks To Website</span>

            <div class="clearfix"></div>
            <hr/>
            <div class="col-xs-12 padding0" style="margin: 5px 0px; padding-left: 0px">
              <label class="col-xs-12">Ad Set:</label>

              <div class="col-xs-12">
                <span class="col-xs-4 padding0">- Ad Set Name: </span>
                <span class="col-xs-8 text-italic">VN 171</span>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-12 padding0">
                <span class="col-xs-4">- Targeting: </span>

                <div class="col-xs-8 padding0">
                  <span class="col-sm-3 padding0">* Location:</span>

                  <div class="col-sm-9 padding0">
                    <div class="col-sm-12"
                         style="padding: 5px 5px; overflow: auto; height: 100px; background-color: #B8B8B8; border-radius: 10px 10px;">
                      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
                              type="text">Hồ Chí Minh
                      </button>
                      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
                              type="text">Coffee Shops
                      </button>
                      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
                              type="text">Starbucks New World
                      </button>
                      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
                              type="text">Starbucks NKKN
                      </button>
                      <button style="border: none; background: #EBEBEB; font-weight: normal" class="input_campaign"
                              type="text">Starbucks Dong Du
                      </button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12  padding0">
                    <div><span class="col-xs-4 padding0">* Age:</span><span
                      class="col-xs-8 padding0 text-italic">{{agesfrom.label}} - {{agesto.label}}</span>
                    </div>
                    <div><span class="col-xs-4 padding0">* Gender:</span><span
                      class="col-xs-8 padding0 text-italic">{{gender}}</span>
                    </div>
                    <div><span class="col-xs-4 padding0">* KPI:</span><span
                      class="col-xs-8 padding0 text-italic">{{valueKPI}} {{optionKPI}}</span></div>
                    <div><span class="col-xs-4 padding0">* Schedule:</span>
                      <span class="col-xs-8 padding0 text-italic">{{dateStart}} - {{dateEnd}}</span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr/>
          <div class="col-xs-12 padding0">
            <div class="col-xs-12"><label>Ad:</label></div>
            <div class="col-xs-12 padding0">
              <span class="col-xs-4">- Ad Name: </span>
              <span class="col-xs-8 padding0 text-italic">X-Men Apr</span>
            </div>
            <div class="col-xs-12 padding0">
              <span class="col-xs-4">- Landing page: </span>
              <span style="text-decoration: underline" class="col-sm-8 padding0 text-italic">www.xmen.com.vn</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12" style="height: 40px; line-height: 40px;" ng-show="next31">
        <span style="float: right">
          <button class="btn radius-50 btn-sm btn-gray" style="" ng-click="back3()" ng-show="show3">
            Back
          </button>
          <button class="btn radius-50 btn-dark btn-sm" style="" ng-click="prebook()" ng-show="show3">
            Preview Booking
          </button>
          <button class="btn radius-50 btn-dark btn-sm" style="" ng-click="editbook()" ng-show="show31">
            Edit Booking
          </button>
          <button class="btn radius-50 btn-default btn-sm" style="" ng-click="placebook()">
            Place Booking
          </button>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-10 col-xs-push-1 col-sm-4 col-sm-push-4 processing" ng-show="step3_2">
  <p>{{actionprocess}}</p>
</div>
