<div class="col-xs-10 col-xs-push-1" style="position:absolute; height: 100%">
  <div class="hidden-xs col-sm-3"
       style="background-color:#313131; height: 40px; line-height: 40px; color: #ffffff">
    Campaign Report
  </div>

  <div class="col-xs-12 col-sm-9">
    <div class="row"
         style="background-color:rgba(49,133,209,0.95); height: 40px; line-height: 40px; color: #ffffff">
      <div class="col-xs-6 left">
        Status
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">all</option>
        </select>
        &nbsp; &nbsp; Type
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">all</option>
        </select>
      </div>
      <div class="right">
        Search
        <input type="text" placeholder="ID, Keywords..." class="cusInput" style=" border-radius: 10px 10px;"/>
        <button type="button" class="radius-50 btn btn-dark btn-sm">Submit</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div ui-grid="gridReport" ui-grid-pinning ui-grid-move-columns style="height: 100%; text-align: center"></div>
    </div>
  </div>

</div>
</div>

