<div class="col-xs-10 col-xs-push-1" style="position:absolute; height: 100%">
  <div class="hidden-xs col-sm-2"
       style="background-color:#313131; height: 40px; line-height: 40px; color: #ffffff">
    CMR
  </div>

  <div class="col-xs-12 col-sm-10">
    <div class="row"
         style="background-color:rgba(49,133,209,0.95); height: 40px; line-height: 40px; color: #ffffff">
      <div class="left">
        Age
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">18-24</option>
        </select>
        &nbsp; &nbsp; Gender
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">Male</option>
        </select>
        &nbsp; &nbsp; City
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">HCM</option>
        </select>
        &nbsp; &nbsp; Income
        <select class="cusInput" style="width:100px; border-radius: 10px 10px;">
          <option value="">$2000</option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div ui-grid="gridUser" ui-grid-pinning ui-grid-move-columns style="height: 100%; text-align: center"></div>
    </div>
  </div>

</div>
</div>

