<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="margin-top:20px;margin-bottom:20px">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div style="height:35px;line-height:35px;text-align:center;color:#ffffff;font-weight:bold;background-color:rgb(49,49,49);text-transform: uppercase">Location Management</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4" style="background-color:rgb(36,114,199)">
              <div class="row">
                <div class="col-md-4">
                  <div class="row" style="height:35px;line-height:35px;text-align:center;color:#ffffff">Category</div>
                </div>
                <div class="col-md-8">
                  <div class="row" style="height:35px;line-height:35px;text-align:center">
                    <select style="width:80%;border-radius:15px;padding-left:10px;border:none;outline:none">
                      <option>Public Area</option>
                      <option>Coffee Shops</option>
                      <option>Shopping Malls</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="background-color:rgb(36,114,199)">
              <div class="row">
                <div class="col-md-4">
                  <div class="row" style="height:35px;line-height:35px;text-align:center;color:#ffffff">City</div>
                </div>
                <div class="col-md-8">
                  <div class="row" style="height:35px;line-height:35px;text-align:center">
                    <select style="width:80%;border-radius:15px;padding-left:10px;border:none;outline:none">
                      <option>Hồ Chí Minh</option>
                      <option>Hà Nội</option>
                      <option>Đà Nẵng</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="background-color:rgb(36,114,199)">
              <div class="row">
                <div class="col-md-4">
                  <div class="row" style="height:35px;line-height:35px;text-align:center;color:#ffffff">Vendor</div>
                </div>
                <div class="col-md-8">
                  <div class="row" style="height:35px;line-height:35px;text-align:center">
                    <select style="width:80%;border-radius:15px;padding-left:10px;border:none;outline:none">
                      <option>Swifi</option>
                      <option>MGN</option>
                      <option>Awing</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div ui-grid="gridOptions" ui-grid-pinning ui-grid-move-columns style="height:500px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
